.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}
.fighter-preview___root ul{
  list-style: none;
  color: #fff;
  font-size: 42px;
}

.fighter-preview___right {
  align-items: flex-end;
}
.fighter-preview___right img {
  transform: rotateY(180deg);
}
.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___img{
  height: 300px;
}
